.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-items: center;
}

.label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}